.video-responsive {
    overflow: hidden;
    padding-bottom: 37.25%;
    position: relative;
    height: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top:1.5%;

  }
  
  .video-responsive iframe {
    
    position: absolute;
  }
  