.video-responsive {
    padding-bottom: 33.25%;
    position: relative;
    height: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top:1.5%;

  }
  
  .video-responsive iframe {
    
    position: absolute;

    @media screen and (max-width: 768px) {
      display: none;
  }
  }
  