.playbutton {
    width: 28%;
    height: 95px;
    margin-left: 35%;
    text-align: center;
    font-size: 68px;
    background: linear-gradient(-45deg, #fbc531, #d980fa, #e84118, #00a8ff);
    background-size: 400% 400%;
    animation: gradient 9s ease infinite;
    border-radius: 50px;
    font-family: "Luckiest Guy", cursive;
    margin-top: 15px;
    z-index: 3;

    @media screen and (max-width: 768px) {
        width: 75%;
        height: 95px;
        margin-left: 12.5%;
        font-size: 42px;
        display: none;
    }

    @media screen and (max-width: 1630px) {
        font-size: 47px;
    }

    @media screen and (max-width: 1160px) {
        font-size: 36px;
    }
}

.playbutton:hover {
    background: #4cd137;
    color: #fff;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

/* Here are all the wrappers of images and text descriptions */


.imgTextWrapper {
    display: flex;
    flex-direction: row;
    font-family: "Katibeh", cursive;
    border:19px solid #95afc0;
    margin-inline: 2%;
    margin-block: 5px;
    background-color: #c7ecee;
    border-radius: 35px;

    @media screen and (max-width: 768px) {
        display: none;
    }


.gamesImg1 {
    z-index: 0;
    margin: 0 auto;
    width: 40%;
    height: 40%;
    margin-block:1%;
    margin-left:8%;
    margin-inline-end: 4%;
    flex:1;
    border:2px solid #000;
}

.gamesImg2 {
    margin: 0 auto;
    width: 40%;
    height: 40%;
    margin-block:1%;
    margin-inline-start:4%;
    margin-right: 2%;
    flex:1;
    border:2px solid #000;
}

.imgDesc1 {
    width:50%;
    text-align: center;
    margin-top:95px;
    font-size:42px;
    flex:1;
    color:#000;
    margin-right: 5%;
}

.imgDesc2 {
    width:50%;
    text-align: center;
    margin-top:45px;
    font-size:42px;
    flex:1;
    color:#000;
    margin-top:95px;
    margin-left:5%;
}}

.ytVid {

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.gamesIntro {
    height: 100%;
    width: 100%;
    background-color: #000;
    color: #f5f6fa;
    z-index: 3;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 760px) {
       background: inherit;
        height: 100%;
    }

    @media screen and (max-width: 1400px) {
        
    }

    @media screen and (max-width: 1000px) {
        
    }
}

body {
    background-color: #8c7ae6;

    @media screen and (max-width: 760px) {
        background: linear-gradient(-45deg, #fbc531, #d980fa, #e84118, #00a8ff);
        background-size: 400% 400%;
        animation: gradient 9s ease infinite;
    }
}

.gamesTitle {
    font-size: 112px;
    text-align: center;
    font-family: "Katibeh", cursive;
    margin-top: -15px;
    z-index: 3;

    @media screen and (max-width: 768px) {
        font-size: 88px;
        padding-top: 8%;
        display: none;
    }
}

.gamesInstructions {
    font-size: 50px;
    font-family: "Katibeh", cursive;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    margin-block: 40px;
    color: #ddd5bf;
    z-index: 3;
    background: #192a56;
    border-radius: 50px;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.gamesAbout {
    font-size: 46px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-family: "Katibeh", cursive;
    z-index: 3;
    background: #192a56;
    border-radius: 50px;
    padding-bottom: 10px;
    margin-top:1%;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.gamesAboutML {
    font-size: 46px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-family: "Katibeh", cursive;
    z-index: 3;
    background: #44bd32;
    border-radius: 50px;
    padding-bottom: 10px;
    margin-top:1%;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.gamesInstructionsML {
    font-size: 50px;
    font-family: "Katibeh", cursive;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    margin-block: 40px;
    color: #ddd5bf;
    z-index: 3;
    background: #44bd32;
    border-radius: 50px;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.gamesAbout2 {
    font-size: 46px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-family: "Katibeh", cursive;
    z-index: 3;
    border-radius: 50px;

    @media screen and (max-width: 768px) {
        display: none;
    }

}

.gamesAbout3 {
    font-size: 46px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-family: "Katibeh", cursive;
    z-index: 3;
    border-radius: 50px;
    color:red;
    background: #192a56;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.gamesOnMobile {
    display: none;
    color: #fff;
    font-size: 52px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin: 0 auto;
    font-family: "Katibeh", cursive;
    color: linear-gradient(-45deg, #fbc531, #d980fa, #e84118, #00a8ff);
    animation: gradient 9s ease infinite;
    z-index: 3;

    @media screen and (max-width: 768px) {
        display: block;
        padding-top: 8%;
    }
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
