.about {
    height: 100%;
   
    /*background: linear-gradient(
        270deg,
        rgba(116, 125, 140, 1) 0%,
        rgba(87, 96, 111, 1) 35%,
        rgba(51, 57, 71, 1) 63%,
        rgba(47, 53, 66, 1) 68%,
        rgba(47, 53, 66, 1) 72%,
        rgba(47, 53, 66, 1) 100%
    );*/

    background: linear-gradient(
        270deg,
        rgba(47, 53, 66, 1) 0%,
        rgba(25, 27, 34, 1) 16%,
        rgba(21, 23, 29, 1) 29%,
        rgba(17, 19, 24, 1) 39%,
        rgba(13, 15, 18, 1) 51%,
        rgba(0, 0, 0, 1) 100%
    );
    display: flex;

    @media screen and (max-width:468px){
        height:100%;
        flex-direction: column;
    }

    @media screen and (min-width:468px){
        height: 100%;
        flex-direction: column;
        
    }

    @media screen and (max-width:780px){
        flex-direction: column;
        height: 100%;
    }

    @media screen and (max-width:1200px){
        flex-direction: column;
        text-align: center;
        padding-top: 196px;
        height: 80%;
        padding-bottom: 35px;
        padding-left:10%;
    }

    @media screen and (min-width:1200px){
        height: 60%;
        padding-top: 196px;
        flex-direction: row;
        padding-bottom: 35px;
    }
}

.photo {
    height: 384px;
    width: 373px;
    border-radius: 50%;
    margin-top: 85px;
    
    border: 8px double #c8d6e5;
    padding:30px;

    @media screen and (max-width: 1200px){
        margin:0 auto;
        margin-left:17%
    }

    @media screen and (min-width: 1200px){
        margin:0 auto;
        margin-top: 2%;
    }

    @media screen and (max-width:768px){
        
        height: 264px;
    width: 253px;
    margin:0 auto;
    }

    @media screen and (max-width:500px){
        
        height: 264px;
    width: 253px;
    margin:0 auto;
    }

    @media screen and (max-width:468px){
        height: 246px;
    width: 235px;
 
    border:8px double #c8d6e5;
    padding:10px;
    margin:0 auto;
    margin-left: 4.5%;
    }
}


.descriptionAboutMe {
    color: #fff;
    width: 60%;
    font-size: 54px;
    font-family: "Katibeh", cursive;
    margin-top: 130px;
    margin-left: 85px;
    font-weight: 50;

    @media screen and (min-width: 1200px){
        font-size: 56px;
        margin-top: 4%;
    }

    @media screen and (max-width: 1200px){
        font-size: 41px;
        margin-top: 17%;
    }

    @media screen and (max-width:768px){
        font-size: 27px;
        margin-left: -15px;
        width: 92%;
        margin-top:-45px;
    }

    @media screen and (max-width:468px){
        font-size: 25px;
        margin-top: -90px;
    }

    @media screen and (max-width:380px){
        font-size: 25px;
        margin-top: 20px;
    }
}

.jugglingText{
    color:#feca57;
}

.pixelartText{
   color: #ff6b6b;
}

.animeText{
    color:#5f27cd;
}

.perceptionText{
    color:#ff9ff3;
}

.gamesText{
    color:#2e86de;
}

.codingText{
    color:#8395a7;
}

.loveText {
    color:#b33939;
}