.about {
    height: 100%;

    /*background: linear-gradient(
        270deg,
        rgba(116, 125, 140, 1) 0%,
        rgba(87, 96, 111, 1) 35%,
        rgba(51, 57, 71, 1) 63%,
        rgba(47, 53, 66, 1) 68%,
        rgba(47, 53, 66, 1) 72%,
        rgba(47, 53, 66, 1) 100%
    );*/

    background: linear-gradient(
        270deg,
        rgba(47, 53, 66, 1) 0%,
        rgba(25, 27, 34, 1) 16%,
        rgba(21, 23, 29, 1) 29%,
        rgba(17, 19, 24, 1) 39%,
        rgba(13, 15, 18, 1) 51%,
        rgba(0, 0, 0, 1) 100%
    );
    display: flex;

    @media screen and (max-width: 380px) {
        flex-direction: column;
        text-align: center;
        padding-top: 530px;
        height: 660px;
        padding-bottom: 15px;
        padding-left: 4%;
    }

    @media screen and (max-width: 468px) and (min-width: 380px) {
        flex-direction: column;
        text-align: center;
        padding-top: 510px;
        height: 460px;
        padding-bottom: 15px;
        padding-left: 4%;
    }

    @media screen and (max-width: 768px) and (min-width: 500px) {
        flex-direction: column;
        text-align: center;
        padding-top: 670px;
        height: 660px;
        padding-bottom: 15px;
        padding-left: 4%;
    }

    @media screen and (max-width: 1200px) and (min-width: 768px) {
        flex-direction: row;
        text-align: center;
        padding-top: 296px;
        height: 660px;
        padding-bottom: 35px;
        padding-left: 4%;
    }

    @media screen and (max-width: 1680px) and (min-width: 1200px) {
        height: 710px;
        padding-top: 2%;
        flex-direction: row;
        padding-top: 22%;
    }

    @media screen and (max-width: 2400px) and (min-width: 1680px) {
        height: 550px;
        padding-top: 10%;
        flex-direction: row;
    }
}

.photo {
    height: 384px;
    width: 373px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 11%;
    border: 8px double #c8d6e5;
    padding: 30px;

    @media screen and (max-width: 2400px) and (min-width: 1680px) {
        margin: 0 auto;
        margin-top: 1.8%;
    }

    @media screen and (max-width: 1680px) and (min-width: 1200px) {
        margin: 0 auto;
        margin-top: 5%;
    }

    @media screen and (max-width: 1200px) and (min-width: 768px) {
        margin: 0 auto;
        margin-top: 11%;
    }

    @media screen and (max-width: 768px) and (min-width: 500px) {
        height: 264px;
        width: 253px;
        margin: 0 auto;
    }

    @media screen and (max-width: 500px) and (min-width: 468px) {
        height: 264px;
        width: 253px;
        margin: 0 auto;
        margin-left: 3%;
    }

    @media screen and (max-width: 468px) and (min-width: 380px) {
        height: 276px;
        width: 265px;

        border: 8px double #c8d6e5;
        padding: 10px;
        margin: 0 auto;
        margin-left: 16.5%;
    }

    @media screen and (max-width: 380px) {
        height: 186px;
        width: 195px;

        border: 8px double #c8d6e5;
        padding: 10px;
        margin: 0 auto;
        margin-left: 12.5%;
    }
}

.descriptionAboutMe {
    color: #fff;
    width: 60%;
    font-size: 54px;
    font-family: "Katibeh", cursive;
    margin-top: 130px;
    margin-left: 85px;
    font-weight: 100;

    @media screen and (max-width: 2400px) and (min-width: 1200px) {
        font-size: 56px;
        margin-top: 4%;
    }

    @media screen and (max-width: 1200px) and (min-width: 1000px) {
        font-size: 48px;
        margin-top: 5%;
        width: 70%;
        margin-left: 15px;
    }

    @media screen and (max-width: 1000px) and (min-width: 768px) {
        font-size: 39px;
        margin-top: 5%;
        width: 70%;
        margin-left: 15px;
    }

    @media screen and (max-width: 768px) and (min-width: 468px) {
        font-size: 34px;
        margin-left: 15px;
        width: 92%;
        margin-top: -45px;
    }

    @media screen and (max-width: 468px) and (min-width: 380px) {
        font-size: 29px;
        margin-top: -90px;
    }

    @media screen and (max-width: 380px) {
        font-size: 27px;
        margin-top: 90px;
        width: 92%;
        margin-left: 15px;
    }
}

.jugglingText {
    color: #feca57;
}

.pixelartText {
    color: #ff6b6b;
}

.animeText {
    color: #5f27cd;
}

.perceptionText {
    color: #ff9ff3;
}

.gamesText {
    color: #2e86de;
}

.codingText {
    color: #8395a7;
}

.loveText {
    color: #b33939;
}
